In [8]:
import sqlite3
# Create a connect object
con = sqlite3.connect('test.db')
# To save database a special path name :memory: can be provided to create a temporary database in RAM.

In [9]:
#To execute sql query we use cursor object to transversal the query

In [10]:
cur = con.cursor()

In [11]:
#cur.execute(sql[, parameters])
#This is a nonstandard shortcut that creates a cursor object by calling the cursor() method,
#calls the cursorâ€™s execute() method with the parameters given, and returns the cursor.

In [12]:
# Create table
cur.execute('''CREATE TABLE class
               (date text, name text, address text, age real, salary real)''')

# Insert a row of data
cur.execute("INSERT INTO class VALUES ('2006-01-05','Chinmay','Mumbai',20,80000)")

# Save (commit) the changes
con.commit()

OperationalError: table class already exists

In [13]:
#The saved data is persistent: it can be reloaded in a subsequent session even after restarting the Python interpreter:
# Persistent data that does not change and may be intended to be permanent.

In [15]:
# DATA SELECTION AND PRINT
import sqlite3
con = sqlite3.connect('test.db')
cur = con.cursor()
for row in cur.execute('SELECT * FROM class ORDER BY name'):
        print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [36]:
import sqlite3
conn = sqlite3.connect('col.db')
print("Opened database successfully")

conn.execute('''CREATE TABLE COLLEGE
         (UID INT PRIMARY KEY     NOT NULL,
         name           TEXT    NOT NULL,
         Department            TEXT     NOT NULL,
         PhoneNo        INT);''')
print("Table created successfully")

Opened database successfully

OperationalError: table COLLEGE already exists

In [37]:
for row in conn.execute('SELECT * FROM COLLEGE ORDER BY name'):
        print(row)

(222011110, 'Akhila', 'EXTC', 1234567890)
(222011113, 'Saakshi', 'EXTC', 1244567890)
(222011111, 'Sami', 'EXTC', 1234567840)
(222011112, 'Yash', 'EXTC', 1234564890)

In [25]:
print("Opened database successfully")

conn.execute("INSERT INTO COLLEGE (UID,name,Department,PhoneNo) \
      VALUES (222011110, 'Akhila','EXTC', 1234567890 )");

conn.execute("INSERT INTO COLLEGE (UID,name,Department,PhoneNo) \
      VALUES (222011111, 'Sami','EXTC', 1234567840 )");

conn.execute("INSERT INTO COLLEGE (UID,name,Department,PhoneNo) \
      VALUES (222011112, 'Yash','EXTC', 1234564890 )");

conn.execute("INSERT INTO COLLEGE (UID,name,Department,PhoneNo) \
      VALUES (222011113, 'Saakshi','EXTC', 1244567890 )");
conn.commit()
print("Records created successfully")
conn.close()

Opened database successfully
Records created successfully

In [35]:
import sqlite3
conn = sqlite3.connect('test.db')
print("Opened database successfully")

cursor = conn.execute("SELECT UID,name,Department,PhoneNo from COLLEGE")
for row in cursor:
   print("UID = ", row[0])
   print("name = ", row[1])
   print("Department = ", row[2])
   print("PhoneNo = ", row[3])

print("Operation done successfully")
conn.close()

Opened database successfully

OperationalError: no such table: COLLEGE

In [41]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

conn.execute("DELETE from COLLEGE where UID = 222011113;")
conn.commit()
print("Total number of rows deleted :", conn.total_changes)


print("Operation done successfully")
conn.close()

Opened database successfully

OperationalError: no such table: COLLEGE

In [42]:
for row in conn.execute('SELECT * FROM COLLEGE ORDER BY name'):
        print(row)

OperationalError: no such table: COLLEGE